 .u-section-1 {
  background-image: none;
  min-height: 858px;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/spacewebb.jpg");
  min-height: 403px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 422px;
  height: 422px;
  background-image: url("images/njpng.png");
  background-position: 50% 50%;
  margin: -343px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 527px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 5px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 184px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 776px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -238px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 325px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-2 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 59px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 457px;
  height: 423px;
  object-position: 1.53% 50%;
  margin: -443px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 125px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-2 .u-shape-1 {
    height: 332px;
    width: 369px;
  }

  .u-section-2 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -390px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-2 .u-shape-1 {
    height: 243px;
    width: 276px;
  }

  .u-section-2 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -301px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-2 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-2 .u-image-1 {
    width: 341px;
    height: 310px;
    margin-top: -368px;
    margin-left: 70px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-2 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 281px;
    height: 259px;
    margin-top: -311px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 585px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 31px auto 59px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-3 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-3 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 918px;
}

.u-section-4 .u-blog-1 {
  width: 759px;
  margin: 60px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 858px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 216px;
  width: 301px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -216px 0 0 341px;
}

.u-section-4 .u-text-2 {
  margin: 22px 0 0 341px;
}

.u-section-4 .u-metadata-1 {
  margin: 20px auto 0 341px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px 124px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-blog-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-4 .u-metadata-1 {
    width: auto;
    margin-top: 17px;
    margin-right: 258px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-blog-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 333px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 333px;
  }

  .u-section-4 .u-metadata-1 {
    margin-top: 22px;
    margin-right: 207px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-blog-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 230px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 252px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 252px;
  }

  .u-section-4 .u-metadata-1 {
    margin-top: 21px;
    margin-right: 148px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-blog-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 129px;
    margin-top: 290px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 148px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
    margin-left: 150px;
  }

  .u-section-4 .u-metadata-1 {
    margin-top: 22px;
    margin-right: 50px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 746px;
}

.u-section-5 .u-slider-1 {
  min-height: 431px;
  width: 893px;
  margin: 60px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-5 .u-text-3 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 -80px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-5 .u-text-6 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-5 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-slider-1 {
    height: auto;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-slider-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 565px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: none;
  min-height: 778px;
}

.u-section-6 .u-shape-1 {
  height: 341px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: -281px auto 0 calc(((100% - 1140px) / 2) + 298px);
}

.u-section-6 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 20px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 427px;
  grid-gap: 0px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-group-1 {
  width: 254px;
  min-height: 166px;
  margin: -57px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 79px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-list-item-2 {
  background-size: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-group-2 {
  width: 254px;
  min-height: 166px;
  margin: -57px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-social-icons-2 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 79px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-icon-6 {
  height: 100%;
}

.u-section-6 .u-list-item-3 {
  background-size: auto;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-group-3 {
  width: 254px;
  min-height: 166px;
  margin: -57px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-social-icons-3 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 79px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-6 .u-icon-7 {
  height: 100%;
}

.u-section-6 .u-icon-8 {
  height: 100%;
}

.u-section-6 .u-icon-9 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 763px;
  }

  .u-section-6 .u-text-1 {
    margin-left: auto;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 497px;
  }

  .u-section-6 .u-image-1 {
    height: 283px;
  }

  .u-section-6 .u-group-1 {
    width: 221px;
    margin-top: -35px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 80px;
  }

  .u-section-6 .u-image-2 {
    height: 283px;
  }

  .u-section-6 .u-group-2 {
    width: 221px;
    margin-top: -35px;
  }

  .u-section-6 .u-social-icons-2 {
    width: 80px;
  }

  .u-section-6 .u-image-3 {
    height: 283px;
  }

  .u-section-6 .u-group-3 {
    width: 221px;
    min-height: 172px;
    margin-top: -35px;
  }

  .u-section-6 .u-social-icons-3 {
    width: 80px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1327px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1045px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-6 .u-image-1 {
    height: 335px;
  }

  .u-section-6 .u-group-1 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 21px;
  }

  .u-section-6 .u-image-2 {
    height: 335px;
  }

  .u-section-6 .u-group-2 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 21px;
  }

  .u-section-6 .u-image-3 {
    height: 335px;
  }

  .u-section-6 .u-group-3 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 2373px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2102px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-6 .u-image-1 {
    height: 581px;
    margin-top: 7px;
  }

  .u-section-6 .u-group-1 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-6 .u-image-2 {
    height: 581px;
    margin-top: 7px;
  }

  .u-section-6 .u-group-2 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-6 .u-image-3 {
    height: 581px;
    margin-top: 7px;
  }

  .u-section-6 .u-group-3 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1920px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1676px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 4px;
  }

  .u-section-6 .u-image-1 {
    height: 387px;
    margin-top: 0;
  }

  .u-section-6 .u-group-1 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 4px;
  }

  .u-section-6 .u-image-2 {
    height: 387px;
    margin-top: 0;
  }

  .u-section-6 .u-group-2 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 4px;
  }

  .u-section-6 .u-image-3 {
    height: 387px;
    margin-top: 0;
  }

  .u-section-6 .u-group-3 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }
}