.u-section-1 .u-sheet-1 {
  min-height: 115px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
} .u-section-2 {
  background-image: linear-gradient(#425465, #1a1a1a);
}

.u-section-2 .u-sheet-1 {
  min-height: 673px;
}

.u-section-2 .u-video-1 {
  width: 889px;
  height: 485px;
  margin: 94px auto 60px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-video-1 {
    width: 540px;
    height: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-video-1 {
    width: 340px;
    height: 186px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 2251px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin: 63px auto 0 142px;
}

.u-section-3 .u-image-1 {
  width: 520px;
  height: 373px;
  margin: 29px 20px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 373px;
  margin: -373px auto 0 10px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 63px auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 554px;
  height: 464px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-image-4 {
  width: 570px;
  height: 500px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-image-5 {
  width: 385px;
  height: 214px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2193px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 353px;
    margin-left: 142px;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 452px;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1565px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 89px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 244px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 222px;
    margin-left: 89px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 285px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 298px;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 189px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 620px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 600px;
  height: 386px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 30px auto 20px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 340px;
    height: 218px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1786px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: 14px auto 0 97px;
}

.u-section-5 .u-video-1 {
  width: 889px;
  height: 485px;
  margin: 27px auto 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: 30px auto 0 97px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 361px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-5 .u-image-2 {
  width: 274px;
  height: 83px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-5 .u-image-3 {
  width: 698px;
  height: 407px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  margin: 30px auto 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1694px;
  }

  .u-section-5 .u-video-1 {
    width: 720px;
    height: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 295px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 342px;
  }

  .u-section-5 .u-image-3 {
    width: 540px;
    height: 315px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 186px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 215px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 198px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1770px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-image-1 {
  width: 521px;
  height: 346px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: 30px 1018px 0 0;
}

.u-section-6 .u-image-2 {
  width: 522px;
  height: 354px;
  margin: 14px auto 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-6 .u-image-3 {
  width: 527px;
  height: 358px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-6 .u-image-4 {
  width: 527px;
  height: 358px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 818px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-right: 598px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-right: 418px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 226px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 218px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 231px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 231px;
  }

  .u-section-6 .u-image-4 {
    width: 340px;
    height: 231px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-7 .u-image-1 {
  width: 498px;
  height: 338px;
  margin: 81px auto 0;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-7 .u-image-2 {
  width: 503px;
  height: 337px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 30px 570px 39px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 340px;
    height: 231px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 228px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 905px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-8 .u-custom-html-1 {
  margin-bottom: 57px;
  margin-top: 33px;
  height: auto;
  min-height: 716px;
}